button {
    border: none;
    color: var(--primary-text-color);
    background: var(--info-secondary-color);
}

button:hover {
    opacity: 0.7;
}

button:focus {
    opacity: 0.7;
}

button.submit {
    background-color: var(--info-primary-color) !important;
}

button.add {
    background-color: var(--success-color) !important;
}

button.remove {
    background-color: var(--danger-color) !important;
}

button.edit {
    background: var(--info-primary-color) !important;
}

button.primary {
    background: var(--info-primary-color) !important;
}

button:disabled,
button[disabled] {
    background: var(--disabled-color) !important;
    opacity: 0.5;
}

button.cancel {
}