.uni-dialog-actions {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "extra-action . secondary-action primary-action";
    align-items: center;
    grid-gap: 1rem;
    width: 100%;
    padding: 0.5rem 1.5rem;
    background-color: var(--uni-white);
    border-top: 1px solid var(--uni-black--25);

    &.-has-action-menu {
        grid-template-columns: 1fr 1fr auto auto;
    }

    .uni-dialog-actions__extra-action {
        grid-area: extra-action;
    }

    .uni-dialog-actions__secondary-action {
        grid-area: secondary-action;
    }

    .uni-dialog-actions__primary-action {
        grid-area: primary-action;
    }
}