.grd-rpt {
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 1fr)); /*base columns and their sizes*/
    grid-auto-flow: row; /* tells to add new children as new columns*/
    grid-auto-rows: minmax(5rem, 1fr); /* tells the size of the dynamic columns*/
    gap: 1rem;
}

.flex-grid-hrztl {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    grid-gap: 1rem;
}

.hrztl-scrl-grid {
    display: grid;
    grid-gap: 1rem;
    grid-auto-flow: column;
    grid-auto-columns: 10%;
    overflow-x: scroll;
}
