.row {
    display: flex;
    flex-wrap: wrap;
    /* 12 COLUMN GRID SYSTEM */
    @for $i from 1 through 12 {
        $w: ($i / 12) * 100%;

        .sze-#{$i} {
            flex-basis: $w;
        }
    }
    // end loop

    .sze-auto {
        flex-basis: auto
    }
}
