.card {
    background-color: var(--third-color);
    z-index: 9;

    .close {
        position: fixed;
        top: 0;
        right: 0;
        color: var(--primary-text-color);
    }

    .card-header {
        background-color: var(--fourth-color);
        display: flex;
        padding: 0 1rem;

        .title {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}

.card.right {
    width: 30%;
    min-width: fit-content;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    margin: auto;
    -webkit-animation: slide-right 0.5s ease-in-out;
    animation: slide-right 0.5s ease-in-out;
}
