.nav-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.nav-link {
  display: flex;
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0.5rem;
}
.nav-link text-secondary {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 300;
}

.nav-link:active {
  border-radius: 0.375rem;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
}

.nav-link:hover {
  border-radius: 0.375rem;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
}

.selected-items {
  display: flex;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: column;
  height: 70%;
}
.selected-items .item {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: 1fr auto;
  width: 100%;
  gap: 1rem;
}
.selected-items .item i {
  grid-column: 3;
  grid-row: 1;
  align-self: flex-start;
  justify-self: end;
  cursor: pointer;
}
.selected-items .item .thumbnail {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  justify-self: center;
}
.selected-items .item .thumbnail img {
  display: block;
  border: 0;
  width: 3rem;
}
.selected-items .item .details {
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  justify-self: start;
}
.selected-items .item .actions {
  grid-column: 1/span 2;
  grid-row: 2;
  justify-self: center;
  display: flex;
}
.selected-items .item .actions button {
  border-radius: 50%;
}
.selected-items .item .actions h2 {
  align-self: center;
}
.selected-items .item h3 {
  grid-column: 3;
  grid-row: 2;
  align-self: end;
  justify-self: end;
}

.form {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-flow: row;
  grid-gap: 0.8em 0.5em;
  padding: 1rem;
}
.form .label {
  grid-column: 1;
  grid-row: auto;
  margin: auto 0;
  font-weight: 700;
}
.form .input {
  grid-column: 2;
  grid-row: auto;
  padding: 0.4em;
  border: 0;
  font-size: 1.25rem;
  border-radius: 0.5rem;
}
.form .dropdown {
  grid-column: 2;
  background-color: #ffffff;
  padding: 0.4em;
  font-size: 1.25rem;
  border-radius: 0.5rem;
}
.form fieldset {
  grid-column: 1/span 2;
  padding-left: 1rem;
}
.form fieldset .label {
  grid-column: 1;
  grid-row: auto;
  margin: auto 0;
}
.form fieldset .input {
  grid-column: 2;
  grid-row: auto;
  padding: 0.4em;
}
.form .form-actions {
  grid-column: 1/span 2;
  display: flex;
  gap: 2rem;
}
.form .form-actions button {
  flex-grow: 1;
  height: 2rem;
  border-radius: 1rem;
}

.loading-screen {
  background-color: var(--primary-color);
  opacity: 0.5;
}
.loading-screen .loader {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}
.loading-screen .loader .loading-dot {
  background-color: var(--secondary-color);
  border-radius: 50%;
  animation: loading-dot-animation 0.6s infinite ease-in-out;
}

.loader {
  border: 1rem solid var(--primary-color);
  border-top: 1rem solid var(--secondary-color);
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  animation: spin 2s linear infinite;
}

.dropdown {
  border: none;
  width: auto;
}
.dropdown option {
  border: none;
  background-color: inherit;
}

.arrow {
  padding-left: 0.5rem;
  border: solid;
  border-width: 0 3px 3px 0;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.profile-avatar {
  height: auto;
  width: auto;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.pagination i {
  cursor: pointer;
}
.pagination div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.uni-dialog, .uni-dialog--full-screen, .uni-dialog--small, .uni-dialog--side, .uni-dialog--wide-side {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  bottom: auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-width: 30rem;
  max-width: 45vw;
  width: auto;
  max-height: 90vh;
  height: auto;
  padding: 0;
  margin: 0 auto;
  opacity: 1;
  background-color: var(--fourth-color);
  box-shadow: var(--table-shadow);
  border: unset;
  transform: translateY(-50%);
  transition: opacity 0.3s, transform 0.3s;
  z-index: 9;
}
.uni-dialog:not(.open), .uni-dialog--full-screen:not(.open), .uni-dialog--small:not(.open), .uni-dialog--side:not(.open), .uni-dialog--wide-side:not(.open) {
  transform: scale(0.7) translateY(-50%);
  opacity: 0;
  display: none;
}
.uni-dialog .uni-dialog-header, .uni-dialog--full-screen .uni-dialog-header, .uni-dialog--small .uni-dialog-header, .uni-dialog--side .uni-dialog-header, .uni-dialog--wide-side .uni-dialog-header {
  grid-row: 1/2;
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
}
.uni-dialog .uni-dialog-header .close, .uni-dialog--full-screen .uni-dialog-header .close, .uni-dialog--small .uni-dialog-header .close, .uni-dialog--side .uni-dialog-header .close, .uni-dialog--wide-side .uni-dialog-header .close {
  position: fixed;
  top: 0.5rem;
  right: 1rem;
  margin: 0;
  color: var(--primary-text-color);
  z-index: 10;
}
.uni-dialog .uni-dialog-content, .uni-dialog--full-screen .uni-dialog-content, .uni-dialog--small .uni-dialog-content, .uni-dialog--side .uni-dialog-content, .uni-dialog--wide-side .uni-dialog-content {
  padding: 1.5em;
  overflow-y: auto;
  background-color: var(--third-color);
}
@media screen and (max-width: 1024px) {
  .uni-dialog, .uni-dialog--full-screen, .uni-dialog--small, .uni-dialog--side, .uni-dialog--wide-side {
    max-width: 60vw;
  }
}
@media screen and (max-width: 520px) {
  .uni-dialog, .uni-dialog--full-screen, .uni-dialog--small, .uni-dialog--side, .uni-dialog--wide-side {
    min-width: 90vw;
  }
}

.uni-dialog--side, .uni-dialog--wide-side {
  top: 0;
  height: 100%;
  max-height: 100vh;
  margin: 0 0 0 auto;
  transform: translateX(0) translateY(0);
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  max-width: 50vw;
}
.uni-dialog--side[open], [open].uni-dialog--wide-side {
  animation-name: slide-in;
}
@media screen and (max-width: 1024px) {
  .uni-dialog--side, .uni-dialog--wide-side {
    max-width: 70vw;
  }
}

.uni-dialog--wide-side {
  max-width: 70vw;
}
@media screen and (max-width: 1024px) {
  .uni-dialog--wide-side {
    max-width: 90vw;
  }
}

.uni-dialog--small {
  position: relative;
  top: unset;
  right: unset;
  bottom: unset;
  left: unset;
  margin: 0;
  transform: unset;
  min-width: 30rem;
  max-width: 40rem;
}

.uni-dialog--full-screen {
  top: 0rem;
  min-width: unset;
  max-width: unset;
  width: calc(100% - 3rem);
  max-height: unset;
  height: calc(100% - 3rem);
  margin: 1.5rem auto;
  transform: translateX(0) translateY(0);
  opacity: 1;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}
.uni-dialog--full-screen[open] {
  animation-name: slide-up;
}
@media screen and (max-width: 1024px) {
  .uni-dialog--full-screen {
    max-width: unset;
  }
}

dialog > *:first-child {
  display: contents;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes slide-up {
  from {
    transform: translateY(3rem);
  }
  to {
    transform: translateY(0);
  }
}
#IsNewSupplierLabel {
  align-self: center;
  font-size: 1.5rem;
  font-weight: 600;
}

#IsNewSupplier {
  align-self: center;
}

.tree-view {
  overflow-y: scroll;
  height: 15rem;
}
.tree-view li {
  list-style-type: none;
  margin: 0.5rem 0 0.5rem 0.5rem;
  position: relative;
}
.tree-view li:last-child:after {
  display: none;
}
.tree-view li span {
  display: block;
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-decoration: none;
  margin: 0.5rem;
}
.tree-view li span.active {
  box-shadow: 0.5rem 1rem 1rem 0px rgba(0, 0, 0, 0.3), 0 1rem 2rem rgba(0, 0, 0, 0.22);
}

.tree-view li span:hover, .tree-view li span:focus {
  color: #000;
  border: 1px solid rgb(71, 71, 71);
}

.search-box {
  display: flex;
  gap: 1rem;
  align-self: flex-start;
  justify-self: center;
  height: 100%;
}
.search-box button {
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  align-self: center;
}
.search-box input {
  width: -webkit-fill-available;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/02_molecules/_nav-header.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/02_molecules/_nav-links.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/02_molecules/_selected-items.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/02_molecules/_forms.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/02_molecules/_loader.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/02_molecules/_dropdown.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/02_molecules/_arrow-icons.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/02_molecules/_profile.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/02_molecules/_pagination.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/02_molecules/_dialog.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/02_molecules/_order-wizard.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/02_molecules/_tree-view.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/02_molecules/_search-box.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAC;EACG;EACA;EACA;EACA;EACA;;;ACLH;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACC;EACA;EACA;;;AAIF;EACC;EACA;EACA;;;AAGD;EACC;EACA;EACA;;;ACxBA;EACG;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;;AAIR;EACI;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;;AAEA;EACI;;AAGJ;EACI;;AAIR;EACI;EACA;EACA;EACA;;;AC9DX;EACG;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;EACA;;AAGJ;EACI;EACA;;AAEA;EACI;EACA;EACA;;AAGJ;EACI;EACA;EACA;;AAIR;EACI;EACA;EACA;;AAEA;EACI;EACA;EACA;;;ACxDX;EACG;EACA;;AAEA;EACI;EACA;EACA;;AAEA;EACI;EACA;EACA;;;AAKZ;EACI;EACA;EACA;EACA;EACA;EACA;;;ACvBH;EACG;EACA;;AAEA;EACI;EACA;;;ACNP;EACG;EACA;EACA;EACA;;;AAGJ;EACI;EACA;;;AAGJ;EACI;EACA;;;ACdH;EACG;EACA;;;ACFJ;EACI;EACA;EACA;EACA;;AAEA;EACI;;AAGJ;EACI;EACA;EACA;;;ACbR;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;;AAIR;EACI;EACA;EACA;;AAGJ;EAnDJ;IAoDQ;;;AAGJ;EAvDJ;IAwDQ;;;;AAIR;EAEI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;;AAGJ;EAhBJ;IAiBQ;;;;AAIR;EAEI;;AAEA;EAJJ;IAKQ;;;;AAIR;EAEI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EAEI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;;AAGJ;EAnBJ;IAoBQ;;;;AAIR;EACI;;;AAGJ;EACI;IACI;;EAGJ;IACI;;;AAIR;EACI;IACI;;EAGJ;IACI;;;ACnJR;EACI;EACA;EACA;;;AAGJ;EACI;;;ACDJ;EACI;EACA;;AAEA;EACI;EACA;EACA;;AAEA;EACI;;AAGJ;EACI;EACA;EACA;EACA;EACA;;AAGJ;EACI;;;AAQA;EAEI,OAlCH;EAmCG;;;ACvChB;EACI;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;;AAGJ;EACI%22%7D */