.search-box {
    display: flex;
    gap: 1rem;
    height: 100%;

    button {
        height: 2rem;
        width: 2rem;
        border-radius: 1rem;
        align-self: center;
    }

    input {
        width: -webkit-fill-available;
    }
}
