.selected-items {
    display: grid;
    grid-auto-flow: row;
    background-color: var(--secondary-dark);

    .item {
        display: grid;
        grid-template-columns: repeat(4, [col] 3rem );
        grid-template-rows: repeat(3, [row] 3rem );
        gap: 1rem;
        background-color: var(--grid);
        border-radius: 1rem;
    }

    h4 {
        grid-column: col / span 2;
        grid-row: row;
    }

    .top-right {
        grid-column: col 3 / span 2;
        grid-row: row;
    }

    img {
        grid-column: col;
        grid-row: row 2;
    }

    .actions {
        grid-column: col 2 / span 3;
        grid-row: row 2;
        display: grid;
        grid-auto-flow: column;
        gap: 1rem;
        margin: 5rem;
    }

    .details {
        grid-column: col / span 4;
        grid-row: row 3;
    }
}
