@if (Product != null)
{
    <article class="product-card">
        <picture class="thumbnail">
            <img src="https://www.coca-cola.com/content/dam/onexp/be/nl/home-images/brands/coca-cola/BE_coca-cola-regular_750x750.jpg" alt="Product.Title">
        </picture>
        <div class="details">
            <h1>@Product?.Title</h1>
            <h2>@Product?.PricePerUnit.ToString("C")</h2>
        </div>
    </article>
}