@using Store.Shared.Dto;

<div class="dashboard-sidebar">
    <div class="selected-items">
        @foreach (SaleLineDto saleLine in Sale?.SaleLines)
        {
            <div class="item">
                <i class="fa-solid fa-xmark pd-1" @onclick="() => Remove(saleLine)"></i>
                <div class="thumbnail">
                    <img src="https://www.coca-cola.com/content/dam/onexp/be/nl/home-images/brands/coca-cola/BE_coca-cola-regular_750x750.jpg" alt="Product.Title">
                </div>
                <div class="details">
                    <h2>@saleLine.Product.Title</h2>
                </div>
                <div class="actions">
                    <div class="remove" @onclick="() => RemoveQuantity(saleLine)"><i class="fa-solid fa-minus"></i></div>
                    <h2>@saleLine.Quantity</h2>
                    <div class="add" @onclick="() => AddQuantity(saleLine)"><i class="fa-solid fa-plus"></i></div>
                </div>
                <div class="total">
                    <h3>@((saleLine.Product.PricePerUnit * saleLine.Quantity).ToString("C"))</h3>
                </div>
            </div>

        }
    </div>
    <div class="footer-info">
        <div class="total">
            <p>Total</p>
            <h1>@Sale.SaleLines.Sum(x => x.Quantity * x.Product.PricePerUnit).ToString("C")</h1>
        </div>
        <div class="payment-methods">
            <button class="payment-button"><i class="fa-solid fa-coins"></i></button>
            <button class="payment-button"><i class="fa-solid fa-credit-card"></i></button>
        </div>
    </div>

</div>