.grd-rpt {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr)); /*base columns and their sizes*/
  grid-auto-flow: row; /* tells to add new children as new columns*/
  grid-auto-rows: minmax(5rem, 1fr); /* tells the size of the dynamic columns*/
  gap: 1rem;
}

.flex-grid-hrztl {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  grid-gap: 1rem;
}

.hrztl-scrl-grid {
  display: grid;
  grid-gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: 10%;
  overflow-x: scroll;
}

.pd-0 {
  padding: 0.5rem;
}

.pd-t-0 {
  padding-top: 0.5rem;
}

.pd-b-0 {
  padding-bottom: 0.5rem;
}

.pd-l-0 {
  padding-left: 0.5rem;
}

.pd-r-0 {
  padding-right: 0.5rem;
}

.pd-hrztl-0 {
  padding: 0 0.5rem;
}

.pd-vrtcl-0 {
  padding: 0.5rem 0;
}

.pd-1 {
  padding: 1rem;
}

.pd-t-1 {
  padding-top: 1rem;
}

.pd-b-1 {
  padding-bottom: 1rem;
}

.pd-l-1 {
  padding-left: 1rem;
}

.pd-r-1 {
  padding-right: 1rem;
}

.pd-hrztl-1 {
  padding: 0 1rem;
}

.pd-vrtcl-1 {
  padding: 1rem 0;
}

.pd-2 {
  padding: 1.5rem;
}

.pd-t-2 {
  padding-top: 1.5rem;
}

.pd-b-2 {
  padding-bottom: 1.5rem;
}

.pd-l-2 {
  padding-left: 1.5rem;
}

.pd-r-2 {
  padding-right: 1.5rem;
}

.pd-hrztl-2 {
  padding: 0 1.5rem;
}

.pd-vrtcl-2 {
  padding: 1.5rem 0;
}

.pd-3 {
  padding: 2rem;
}

.pd-t-3 {
  padding-top: 2rem;
}

.pd-b-3 {
  padding-bottom: 2rem;
}

.pd-l-3 {
  padding-left: 2rem;
}

.pd-r-3 {
  padding-right: 2rem;
}

.pd-hrztl-3 {
  padding: 0 2rem;
}

.pd-vrtcl-3 {
  padding: 2rem 0;
}

.mrg-0 {
  margin: 0.5rem;
}

.mrg-t-0 {
  margin-top: 0.5rem;
}

.mrg-b-0 {
  margin-bottom: 0.5rem;
}

.mrg-l-0 {
  margin-left: 0.5rem;
}

.mrg-r-0 {
  margin-right: 0.5rem;
}

.mrg-hrztl-0 {
  margin: 0 0.5rem;
}

.mrg-vrtcl-0 {
  margin: 0.5rem 0;
}

.mrg-1 {
  margin: 1rem;
}

.mrg-t-1 {
  margin-top: 1rem;
}

.mrg-b-1 {
  margin-bottom: 1rem;
}

.mrg-l-1 {
  margin-left: 1rem;
}

.mrg-r-1 {
  margin-right: 1rem;
}

.mrg-hrztl-1 {
  margin: 0 1rem;
}

.mrg-vrtcl-1 {
  margin: 1rem 0;
}

.mrg-2 {
  margin: 1.5rem;
}

.mrg-t-2 {
  margin-top: 1.5rem;
}

.mrg-b-2 {
  margin-bottom: 1.5rem;
}

.mrg-l-2 {
  margin-left: 1.5rem;
}

.mrg-r-2 {
  margin-right: 1.5rem;
}

.mrg-hrztl-2 {
  margin: 0 1.5rem;
}

.mrg-vrtcl-2 {
  margin: 1.5rem 0;
}

.mrg-3 {
  margin: 2rem;
}

.mrg-t-3 {
  margin-top: 2rem;
}

.mrg-b-3 {
  margin-bottom: 2rem;
}

.mrg-l-3 {
  margin-left: 2rem;
}

.mrg-r-3 {
  margin-right: 2rem;
}

.mrg-hrztl-3 {
  margin: 0 2rem;
}

.mrg-vrtcl-3 {
  margin: 2rem 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /* 12 COLUMN GRID SYSTEM */
}
.row .sze-1 {
  flex-basis: 8.3333333333%;
}
.row .sze-2 {
  flex-basis: 16.6666666667%;
}
.row .sze-3 {
  flex-basis: 25%;
}
.row .sze-4 {
  flex-basis: 33.3333333333%;
}
.row .sze-5 {
  flex-basis: 41.6666666667%;
}
.row .sze-6 {
  flex-basis: 50%;
}
.row .sze-7 {
  flex-basis: 58.3333333333%;
}
.row .sze-8 {
  flex-basis: 66.6666666667%;
}
.row .sze-9 {
  flex-basis: 75%;
}
.row .sze-10 {
  flex-basis: 83.3333333333%;
}
.row .sze-11 {
  flex-basis: 91.6666666667%;
}
.row .sze-12 {
  flex-basis: 100%;
}
.row .sze-auto {
  flex-basis: auto;
}

.a-align-item-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.a-align-item-start {
  display: grid;
  align-items: center;
  justify-content: start;
}

.align-text-center {
  text-align: center;
  align-self: center;
  justify-self: center;
}

.align-text-start {
  text-align: start;
  align-self: center;
  justify-self: center;
}

button {
  border: none;
  color: var(--primary-text-color);
  background: var(--info-secondary-color);
}

button:hover {
  opacity: 0.7;
}

button:focus {
  opacity: 0.7;
}

button.submit {
  background-color: var(--info-primary-color) !important;
}

button.add {
  background-color: var(--success-color) !important;
}

button.remove {
  background-color: var(--danger-color) !important;
}

button.edit {
  background: var(--info-primary-color) !important;
}

button.primary {
  background: var(--info-primary-color) !important;
}

button:disabled,
button[disabled] {
  background: var(--disabled-color) !important;
  opacity: 0.5;
}

.text-primary {
  color: var(--primary-text-color);
}

.text-secondary {
  color: var(--secondary-text-color);
}

.error {
  color: var(--danger-color);
}

.brdr-round-2rem {
  border-radius: 2rem;
}

.brdr-round-2-5rem {
  border-radius: 2.5rem;
}

@keyframes slide-right {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  /*border: 0.75rem solid var(--fourth-color);*/
}

.uni-dialog-actions {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas: "extra-action . secondary-action primary-action";
  align-items: center;
  grid-gap: 1rem;
  width: 100%;
  padding: 0.5rem 1.5rem;
  background-color: var(--uni-white);
  border-top: 1px solid var(--uni-black--25);
}
.uni-dialog-actions.-has-action-menu {
  grid-template-columns: 1fr 1fr auto auto;
}
.uni-dialog-actions .uni-dialog-actions__extra-action {
  grid-area: extra-action;
}
.uni-dialog-actions .uni-dialog-actions__secondary-action {
  grid-area: secondary-action;
}
.uni-dialog-actions .uni-dialog-actions__primary-action {
  grid-area: primary-action;
}

input[type=checkbox] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type=checkbox]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type=checkbox]:checked::before {
  transform: scale(1);
}

input[type=checkbox]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

input[type=checkbox]:disabled {
  --form-control-color: var(--form-control-disabled);
  color: var(--form-control-disabled);
  cursor: not-allowed;
}

.thumbnail {
  width: 100%;
  overflow: hidden;
}

.thumbnail img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.nav-link {
  display: flex;
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0.5rem;
}
.nav-link text-secondary {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 300;
}

.nav-link:active {
  border-radius: 0.375rem;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
}

.nav-link:hover {
  border-radius: 0.375rem;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
}

.selected-items {
  display: flex;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: column;
  height: 70%;
}
.selected-items .item {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 30% 40% 25%;
  grid-template-rows: auto;
  justify-items: center;
  gap: 0.5rem;
}
.selected-items .item i {
  grid-column: 3;
  grid-row: 1;
  align-self: flex-start;
  justify-self: end;
  cursor: pointer;
}
.selected-items .item .thumbnail {
  grid-column: 1;
  grid-roww: 1/-1;
}
.selected-items .item .details {
  grid-column: 2;
  grid-row: 1;
  justify-self: start;
}
.selected-items .item .actions {
  grid-column: 3;
  grid-row: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.selected-items .item .total {
  grid-column: 3;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  margin-right: 0.5rem;
}

.form {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-flow: row;
  grid-gap: 0.8em 0.5em;
  padding: 1rem;
}
.form .label {
  grid-column: 1;
  grid-row: auto;
  margin: auto 0;
  font-weight: 700;
}
.form .input {
  grid-column: 2;
  grid-row: auto;
  padding: 0.4em;
  border: 0;
  font-size: 1.25rem;
  border-radius: 0.5rem;
}
.form .dropdown {
  grid-column: 2;
  background-color: #ffffff;
  padding: 0.4em;
  font-size: 1.25rem;
  border-radius: 0.5rem;
}
.form fieldset {
  grid-column: 1/span 2;
  padding-left: 1rem;
}
.form fieldset .label {
  grid-column: 1;
  grid-row: auto;
  margin: auto 0;
}
.form fieldset .input {
  grid-column: 2;
  grid-row: auto;
  padding: 0.4em;
}
.form .form-actions {
  grid-column: 1/span 2;
  display: flex;
  gap: 2rem;
}
.form .form-actions button {
  flex-grow: 1;
  height: 2rem;
  border-radius: 1rem;
}

.loading-screen {
  background-color: var(--primary-color);
  opacity: 0.5;
}
.loading-screen .loader {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}
.loading-screen .loader .loading-dot {
  background-color: var(--secondary-color);
  border-radius: 50%;
  animation: loading-dot-animation 0.6s infinite ease-in-out;
}

.loader {
  border: 1rem solid var(--primary-color);
  border-top: 1rem solid var(--secondary-color);
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  animation: spin 2s linear infinite;
}

.dropdown {
  border: none;
  width: auto;
}
.dropdown option {
  border: none;
  background-color: inherit;
}

.arrow {
  padding-left: 0.5rem;
  border: solid;
  border-width: 0 3px 3px 0;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.profile-avatar {
  height: auto;
  width: auto;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.pagination i {
  cursor: pointer;
}
.pagination div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.uni-dialog, .uni-dialog--full-screen, .uni-dialog--small, .uni-dialog--side, .uni-dialog--wide-side {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  bottom: auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-width: 30rem;
  max-width: 45vw;
  width: auto;
  max-height: 90vh;
  height: auto;
  padding: 0;
  margin: 0 auto;
  opacity: 1;
  background-color: var(--fourth-color);
  box-shadow: var(--table-shadow);
  border: unset;
  transform: translateY(-50%);
  transition: opacity 0.3s, transform 0.3s;
  z-index: 9;
}
.uni-dialog:not(.open), .uni-dialog--full-screen:not(.open), .uni-dialog--small:not(.open), .uni-dialog--side:not(.open), .uni-dialog--wide-side:not(.open) {
  transform: scale(0.7) translateY(-50%);
  opacity: 0;
  display: none;
}
.uni-dialog .uni-dialog-header, .uni-dialog--full-screen .uni-dialog-header, .uni-dialog--small .uni-dialog-header, .uni-dialog--side .uni-dialog-header, .uni-dialog--wide-side .uni-dialog-header {
  grid-row: 1/2;
  font-size: 1.5rem;
  font-weight: 400;
}
.uni-dialog .uni-dialog-header .close, .uni-dialog--full-screen .uni-dialog-header .close, .uni-dialog--small .uni-dialog-header .close, .uni-dialog--side .uni-dialog-header .close, .uni-dialog--wide-side .uni-dialog-header .close {
  position: fixed;
  top: 0.5rem;
  right: 1rem;
  margin: 0;
  color: var(--primary-text-color);
  z-index: 10;
}
.uni-dialog .uni-dialog-content, .uni-dialog--full-screen .uni-dialog-content, .uni-dialog--small .uni-dialog-content, .uni-dialog--side .uni-dialog-content, .uni-dialog--wide-side .uni-dialog-content {
  padding: 1.5em;
  overflow-y: auto;
  background-color: var(--third-color);
}
@media screen and (max-width: 1024px) {
  .uni-dialog, .uni-dialog--full-screen, .uni-dialog--small, .uni-dialog--side, .uni-dialog--wide-side {
    max-width: 60vw;
  }
}
@media screen and (max-width: 520px) {
  .uni-dialog, .uni-dialog--full-screen, .uni-dialog--small, .uni-dialog--side, .uni-dialog--wide-side {
    min-width: 90vw;
  }
}

.uni-dialog--side, .uni-dialog--wide-side {
  top: 0;
  height: 100%;
  max-height: 100vh;
  margin: 0 0 0 auto;
  transform: translateX(0) translateY(0);
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  max-width: 50vw;
}
.uni-dialog--side[open], [open].uni-dialog--wide-side {
  animation-name: slide-in;
}
@media screen and (max-width: 1024px) {
  .uni-dialog--side, .uni-dialog--wide-side {
    max-width: 70vw;
  }
}

.uni-dialog--wide-side {
  max-width: 70vw;
}
@media screen and (max-width: 1024px) {
  .uni-dialog--wide-side {
    max-width: 90vw;
  }
}

.uni-dialog--small {
  position: relative;
  top: unset;
  right: unset;
  bottom: unset;
  left: unset;
  margin: 0;
  transform: unset;
  min-width: 30rem;
  max-width: 40rem;
}

.uni-dialog--full-screen {
  top: 0rem;
  min-width: unset;
  max-width: unset;
  width: calc(100% - 3rem);
  max-height: unset;
  height: calc(100% - 3rem);
  margin: 1.5rem auto;
  transform: translateX(0) translateY(0);
  opacity: 1;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}
.uni-dialog--full-screen[open] {
  animation-name: slide-up;
}
@media screen and (max-width: 1024px) {
  .uni-dialog--full-screen {
    max-width: unset;
  }
}

dialog > *:first-child {
  display: contents;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes slide-up {
  from {
    transform: translateY(3rem);
  }
  to {
    transform: translateY(0);
  }
}
#IsNewSupplierLabel {
  align-self: center;
  font-size: 1.5rem;
  font-weight: 600;
}

#IsNewSupplier {
  align-self: center;
}

.tree-view {
  overflow-y: scroll;
  height: 15rem;
}
.tree-view li {
  list-style-type: none;
  margin: 0.5rem 0 0.5rem 0.5rem;
  position: relative;
}
.tree-view li:last-child:after {
  display: none;
}
.tree-view li span {
  display: block;
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-decoration: none;
  margin: 0.5rem;
}
.tree-view li span.active {
  box-shadow: 0.5rem 1rem 1rem 0px rgba(0, 0, 0, 0.3), 0 1rem 2rem rgba(0, 0, 0, 0.22);
}

.tree-view li span:hover, .tree-view li span:focus {
  color: #000;
  border: 1px solid rgb(71, 71, 71);
}

.search-box {
  display: flex;
  gap: 1rem;
  align-self: flex-start;
  justify-self: center;
  height: 100%;
}
.search-box button {
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  align-self: center;
}
.search-box input {
  width: -webkit-fill-available;
}

header {
  height: var(--header-height);
  /*background-color: var(--secondary-color);*/
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .nav-link {
  margin-left: auto;
}
header .h4 {
  margin-left: auto;
}

.side-nav-open {
  transition: 0.16s ease-in-out;
}
.side-nav-open img {
  width: 5rem;
  height: 5rem;
  border-radius: 2.5rem;
}
.side-nav-open .nav-link {
  justify-content: flex-start;
}

.side-nav-closed {
  width: 5rem !important;
  overflow: hidden;
}
.side-nav-closed .nav-link {
  justify-content: center;
}
.side-nav-closed .profile-info {
  display: none;
}
.side-nav-closed .secondary-items {
  display: none;
}
.side-nav-closed span {
  transition: all 0.2s ease-in-out;
  display: none;
}
.side-nav-closed img {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
}

.nav-toggler {
  display: flex;
  justify-content: end;
  align-items: center;
  left: 1rem;
  position: relative;
  transition: all 0.16s ease-in-out;
  cursor: pointer;
  /*color: var(--primary-text-color);*/
}

.footer-info {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-top: 1px solid #000;
}
.footer-info .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}
.footer-info .payment-methods {
  width: 100%;
  heihgt: 10%;
  display: flex;
  gap: 0.5rem;
}
.footer-info .payment-methods .payment-button {
  background-color: var(--info-primary-color);
  color: var(--secondary-color);
  width: 50%;
}
.footer-info .payment-methods .payment-button:hover {
  opacity: 0.5;
}

.data-grid-container {
  display: grid;
  grid-template-areas: "actions validations" "grid grid";
  /*background-color: var(--secondary-color);*/
  overflow: auto;
  border-radius: 0.5rem;
}
.data-grid-container .grid-actions {
  grid-area: actions;
}
.data-grid-container .grid-validations {
  grid-area: validations;
}
.data-grid-container .data-grid {
  grid-area: grid;
  display: grid;
  grid-template-areas: "headers" "rows" "footer";
  background-color: var(--third-color);
}
.data-grid-container .data-grid .row {
  display: grid;
  grid-template-columns: repeat(2, minmax(5rem, 1fr)); /*base columns and their sizes*/
  grid-auto-flow: column; /* tells to add new children as new columns*/
  grid-auto-columns: minmax(5rem, 1fr); /* tells the size of the dynamic columns*/
  grid-column-gap: 0.15rem;
}
.data-grid-container .data-grid row:hover {
  opacity: 0.7;
}
.data-grid-container .data-grid .col {
  display: flex;
  justify-content: flex-start;
}
.data-grid-container .data-grid .headers {
  grid-area: headers;
  background-color: rgba(0, 0, 0, 0.5);
}
.data-grid-container .data-grid .headers .col {
  justify-content: center;
}
.data-grid-container .data-grid .headers .col:hover {
  cursor: pointer;
}
.data-grid-container .data-grid .footer {
  grid-area: footer;
  background-color: rgba(0, 0, 0, 0.5);
}
.data-grid-container .data-grid .rows {
  grid-area: rows;
}
.data-grid-container .data-grid .rows .even > .col {
  background-color: rgba(0, 0, 0, 0.1);
}
.data-grid-container .data-grid .rows .odd > .col {
  background-color: rgba(255, 255, 255, 0.1);
}
.data-grid-container .data-grid .rows .edit > .col {
  background-color: rgba(255, 0, 0, 0.1);
}
.data-grid-container .data-grid .rows .col .validations {
  position: fixed;
  right: 0;
  top: 0;
  border-radius: 0.25rem;
  text-align: left;
  display: flex;
  align-items: center;
  margin: 1rem;
  background-color: var(--danger-color);
}
.data-grid-container .data-grid .rows .col .actions {
  display: grid;
  grid-auto-flow: column;
  column-gap: 0.5rem;
  margin: 0.25rem;
  width: 100%;
}
.data-grid-container .data-grid .rows .col input {
  width: 100%;
  border: none;
  background-color: inherit;
  color: inherit;
}

.notifications {
  bottom: 0;
  position: absolute;
  width: 90%;
  margin: 1rem;
  z-index: 999;
}
.notifications .notification-bar {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.notifications .notification-bar.Danger {
  background-color: var(--danger-color);
}
.notifications .notification-bar.Success {
  background-color: var(--success-color);
}
.notifications .notification-bar.Info {
  background-color: var(--info-color);
}
.notifications .notification-bar.Warning {
  background-color: var(--warning-color);
}

.circle {
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #fff;
  border: 0.1rem solid #000;
  color: #000;
  margin-right: 1rem;
}

.wizard-progress {
  display: grid;
  grid-auto-flow: column;
  font-size: 1.25rem;
}
.wizard-progress .step {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.wizard-progress .step.complete {
  background-color: var(--secondary-color);
}
.wizard-progress .step.in-progress {
  background-color: var(--primary-color);
}
.wizard-progress .step:not(:last-child).in-progress {
  border-radius: 0rem 1rem 1rem 0rem;
}
.wizard-progress .step:not(.complete, .in-progress) {
  opacity: 0.5;
}

.card {
  scroll-snap-align: center;
  padding: calc(var(--gutter) / 2 * 1.5);
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  overflow: hidden;
}

.card.active {
  box-shadow: 0.5rem 0.25rem 0.25rem 0px rgba(0, 0, 0, 0.3), 0 0.5rem 1rem rgba(0, 0, 0, 0.22);
}

.card-counter {
  background-color: var(--primary-color);
  transition: display 0s linear 0.33s, grid-column 0.33s linear;
}
.card-counter .product {
  display: grid;
  grid-auto-flow: dense;
  grid-template-areas: "product counter totals";
  grid-template-columns: 1fr 1fr auto;
  transition: display 0s linear 3s, grid-column 3s linear;
}
.card-counter .product .details {
  grid-area: product;
  display: grid;
  grid-template-areas: "img title" "img description";
  column-gap: 1rem;
}
.card-counter .product .details img {
  grid-area: img;
  width: 5rem;
}
.card-counter .product .details .title {
  grid-area: title;
}
.card-counter .product .details .description {
  grid-area: description;
}
.card-counter .product .counter {
  grid-area: counter;
  display: grid;
  grid-auto-flow: column dense;
  gap: 0.5rem;
}
.card-counter .product h4 {
  grid-area: totals;
}

.dashboard {
  display: grid;
  grid-template-columns: 20% 50% 25%;
  grid-template-rows: 20% 80%;
  grid-gap: 2rem;
  align-content: center;
  height: calc(95vh - var(--header-height));
}
.dashboard .parent-categories {
  grid-row: 1/-1;
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: 0.5rem repeat(var(--total), calc(50% - var(--gutter) * 2)) 0.5rem;
  overflow-y: scroll;
  scroll-snap-type: x proximity;
  padding: 1rem;
  align-content: start;
  justify-content: center;
}
.dashboard .parent-categories .card {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 800;
}
.dashboard .children-categories {
  grid-column: 2;
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: auto;
  grid-auto-flow: column;
  grid-auto-columns: calc(50% - var(--gutter) * 2);
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(0.75 * var(--gutter));
  margin-bottom: calc(-0.25 * var(--gutter));
  height: 5rem;
  overflow-y: hidden;
}
.dashboard .children-categories .card {
  background-color: var(--fourth-color);
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
}
.dashboard .children-categories:before,
.dashboard .children-categories:after {
  content: "";
  width: 0.5rem;
}
.dashboard .dashboard-products {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: min-content;
  grid-gap: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
.dashboard .dashboard-products .card {
  background-color: var(--fourth-color);
  display: grid;
  grid-template-rows: 50% 50%;
}
.dashboard .dashboard-products .card .thumbnail {
  grid-row: 1;
}
.dashboard .dashboard-products .card .details {
  grid-row: 2;
  text-align: center;
}
.dashboard .dashboard-sidebar {
  grid-column: 3;
  grid-row: 1/-1;
  height: 100%;
  overflow: hidden;
  background-color: var(--third-color);
  color: var(--primary-text-color);
  max-width: 100%;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

body {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

.page {
  display: grid;
  grid-template-areas: "nav header" "nav main" "nav footer";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
}
.page header {
  grid-area: header;
}
.page nav {
  grid-area: nav;
  z-index: 1;
  height: 100vh;
  padding: 0 0.5rem;
  background-color: var(--secondary-color);
}
.page main {
  grid-area: main;
}
.page footer {
  grid-area: footer;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/01_atoms/_grids.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/01_atoms/_paddings.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/01_atoms/_margins.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/01_atoms/_sizes.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/01_atoms/_align.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/01_atoms/_buttons.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/01_atoms/_text.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/01_atoms/_borders.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/01_atoms/_animations.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/01_atoms/_scrollbar.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/01_atoms/_dialog-actions.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/01_atoms/_checkbox.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/01_atoms/_thumbnail.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/02_molecules/_nav-header.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/02_molecules/_nav-links.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/02_molecules/_selected-items.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/02_molecules/_forms.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/02_molecules/_loader.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/02_molecules/_dropdown.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/02_molecules/_arrow-icons.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/02_molecules/_profile.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/02_molecules/_pagination.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/02_molecules/_dialog.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/02_molecules/_order-wizard.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/02_molecules/_tree-view.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/02_molecules/_search-box.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/03_organisms/_header.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/03_organisms/_side-navigation.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/03_organisms/_dashboard-sidebar.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/03_organisms/_datagrid.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/03_organisms/_notification_bar.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/03_organisms/_wizard.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/03_organisms/_card.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/03_organisms/_product-card-counter.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/04_templates/_dashboard.scss%22,%22file:///C:/myProjects/StoreNet7/Store.App/Store.Web/Styles/components/05_pages/_pages.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAC;EACG;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;;;AChBA;EACI,SALS;;;AAQb;EACI,aATS;;;AAYb;EACI,gBAbS;;;AAgBb;EACI,cAjBS;;;AAoBb;EACI,eArBS;;;AAwBb;EACI;;;AAGJ;EACI;;;AAzBJ;EACI,SALS;;;AAQb;EACI,aATS;;;AAYb;EACI,gBAbS;;;AAgBb;EACI,cAjBS;;;AAoBb;EACI,eArBS;;;AAwBb;EACI;;;AAGJ;EACI;;;AAzBJ;EACI,SALS;;;AAQb;EACI,aATS;;;AAYb;EACI,gBAbS;;;AAgBb;EACI,cAjBS;;;AAoBb;EACI,eArBS;;;AAwBb;EACI;;;AAGJ;EACI;;;AAzBJ;EACI,SALS;;;AAQb;EACI,aATS;;;AAYb;EACI,gBAbS;;;AAgBb;EACI,cAjBS;;;AAoBb;EACI,eArBS;;;AAwBb;EACI;;;AAGJ;EACI;;;ACxBJ;EACI,QANQ;;;AASZ;EACI,YAVQ;;;AAaZ;EACI,eAdQ;;;AAiBZ;EACI,aAlBQ;;;AAqBZ;EACI,cAtBQ;;;AAyBZ;EACI;;;AAGJ;EACI;;;AAzBJ;EACI,QANQ;;;AASZ;EACI,YAVQ;;;AAaZ;EACI,eAdQ;;;AAiBZ;EACI,aAlBQ;;;AAqBZ;EACI,cAtBQ;;;AAyBZ;EACI;;;AAGJ;EACI;;;AAzBJ;EACI,QANQ;;;AASZ;EACI,YAVQ;;;AAaZ;EACI,eAdQ;;;AAiBZ;EACI,aAlBQ;;;AAqBZ;EACI,cAtBQ;;;AAyBZ;EACI;;;AAGJ;EACI;;;AAzBJ;EACI,QANQ;;;AASZ;EACI,YAVQ;;;AAaZ;EACI,eAdQ;;;AAiBZ;EACI,aAlBQ;;;AAqBZ;EACI,cAtBQ;;;AAyBZ;EACI;;;AAGJ;EACI;;;AC9BP;EACG;EACA;AACA;;AAII;EACI,YAHA;;AAEJ;EACI,YAHA;;AAEJ;EACI,YAHA;;AAEJ;EACI,YAHA;;AAEJ;EACI,YAHA;;AAEJ;EACI,YAHA;;AAEJ;EACI,YAHA;;AAEJ;EACI,YAHA;;AAEJ;EACI,YAHA;;AAEJ;EACI,YAHA;;AAEJ;EACI,YAHA;;AAEJ;EACI,YAHA;;AAQR;EACI;;;ACdP;EACG;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;;;AAGJ;EACI;EACA;EACA;;;AAGJ;EACI;EACA;EACA;;;ACtBH;EACG;EACA;EACA;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;AAAA;EAEI;EACA;;;ACrCH;EACG;;;AAGJ;EACI;;;AAGJ;EACI;;;ACTH;EACG;;;AAGJ;EACI;;;ACLJ;EACI;IACI;;EAGJ;IACI;;;AAIR;EACI;IACI;;EAGJ;IACI;;;AChBR;EACI;EACA;;;AAGJ;EACI;EACA;EACA;;;AAGJ;EACI;AACA;;;ACbJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;;AAGJ;EACI;;AAGJ;EACI;;AAGJ;EACI;;;ACxBR;AACI;EACA;AACA;EACA;AACA;EACA;AACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;AACA;EACA;;;AAGJ;EACI;;;AAGJ;EACI;EACA;;;AAGJ;EACI;EACA;EACA;;;AC7CJ;EACI;EACA;;;AAGJ;EACI;EACA;EACA;;;ACRH;EACG;EACA;EACA;EACA;EACA;;;ACLH;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACC;EACA;EACA;;;AAIF;EACC;EACA;EACA;;;AAGD;EACC;EACA;EACA;;;ACxBA;EACG;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;;AAGJ;EACI;EACA;;AAGJ;EACI;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;EACA;;;ACjDX;EACG;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;EACA;;AAGJ;EACI;EACA;;AAEA;EACI;EACA;EACA;;AAGJ;EACI;EACA;EACA;;AAIR;EACI;EACA;EACA;;AAEA;EACI;EACA;EACA;;;ACxDX;EACG;EACA;;AAEA;EACI;EACA;EACA;;AAEA;EACI;EACA;EACA;;;AAKZ;EACI;EACA;EACA;EACA;EACA;EACA;;;ACvBH;EACG;EACA;;AAEA;EACI;EACA;;;ACNP;EACG;EACA;EACA;EACA;;;AAGJ;EACI;EACA;;;AAGJ;EACI;EACA;;;ACdH;EACG;EACA;;;ACFJ;EACI;EACA;EACA;EACA;;AAEA;EACI;;AAGJ;EACI;EACA;EACA;;;ACbR;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;;AAGJ;EACI;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;;AAIR;EACI;EACA;EACA;;AAGJ;EAlDJ;IAmDQ;;;AAGJ;EAtDJ;IAuDQ;;;;AAIR;EAEI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;;AAGJ;EAhBJ;IAiBQ;;;;AAIR;EAEI;;AAEA;EAJJ;IAKQ;;;;AAIR;EAEI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EAEI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;;AAGJ;EAnBJ;IAoBQ;;;;AAIR;EACI;;;AAGJ;EACI;IACI;;EAGJ;IACI;;;AAIR;EACI;IACI;;EAGJ;IACI;;;AClJR;EACI;EACA;EACA;;;AAGJ;EACI;;;ACDJ;EACI;EACA;;AAEA;EACI;EACA;EACA;;AAEA;EACI;;AAGJ;EACI;EACA;EACA;EACA;EACA;;AAGJ;EACI;;;AAQA;EAEI,OAlCH;EAmCG;;;ACvChB;EACI;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;;AAGJ;EACI;;;ACfP;EACG;AACA;EACA;EACA;EACA;;AAEA;EACI;;AAGJ;EACI;;;ACZP;EACG;;AAEA;EACI;EACA;EACA;;AAGJ;EACI;;;AAIR;EACI;EACA;;AAEA;EACI;;AAGJ;EACI;;AAGJ;EACI;;AAGJ;EACI;EACA;;AAGJ;EACI;EACA;EACA;;;AAIR;EACI;EACA;EACA;EACA;EACA;EACA;EACA;AACA;;;AClDH;EACG;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;;AAGJ;EACI;;;AC3BX;EACG;EACA;AACA;EACA;EACA;;AAEA;EACI;;AAGJ;EACI;;AAGJ;EACI;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;;AAGJ;EACI;;AAGJ;EACI;EACA;;AAGJ;EACI;EACA;;AAEA;EACI;;AAGJ;EACI;;AAIR;EACI;EACA;;AAGJ;EACI;;AAEA;EACI;;AAGJ;EACI;;AAGJ;EACI;;AAIA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;;;AChGpB;EACI;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;;AAGJ;EACI;;AAGJ;EACI;;AAGJ;EACI;;AAGJ;EACI;;;AC7BR;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;;AAEA;EACI;;AAGJ;EACI;;AAIA;EACI;;AAIR;EACI;;;ACvCX;EACG;EACA;EACA;EACA;EACA;;;AAGJ;EACI;;;ACTH;EACG;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;;AAEA;EACI;EACA;;AAGJ;EACI;;AAGJ;EACI;;AAIR;EACI;EACA;EACA;EACA;;AAGJ;EACI;;;ACvCX;EACG;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;;AAIR;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;;AAIR;AAAA;EAEI;EACA;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;;AAEA;EACI;;AAGJ;EACI;EACA;;AAKZ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;;ACxFR;EACI;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;;;AAIJ;EACI;EACA;;;AAGJ;EACI;EACA,qBACI;EACJ;EACA;EACA;;AAEA;EACI;;AAGJ;EACI;EACA;EACA;EACA;EACA;;AAGJ;EACI;;AAGJ;EACI%22%7D */