@page "/CheckoutDashboard"
@using Store.Web.Components
@using Store.Web.Components.Checkout
<PageTitle>Checkout dashoard</PageTitle>
<div class="dashboard pd-0">
    <section class="parent-categories pd-1">
        @foreach (var category in _Categories.Where(x => x.ParentCategoryId == null))
        {
            <div class="@( category.Id == _SelectedCategory?.Id || category.Id == _SelectedCategory?.ParentCategoryId ? "active-category" : "")" style="background-color:@category?.Color" @onclick="() => SetSelectedCategroy(category)">
                <p class="a-align-item-center">@category.Title</p>
            </div>
        }
    </section>

    <section class="children-categories pd-b-1">
        @if (_SelectedCategory != null)
        {
            @if (_SelectedCategory.ParentCategoryId != null)
            {
                <div class="active-category" style="background-color:@_SelectedCategory?.Color; ">
                    <p class="align-text-center">@_SelectedCategory?.Title</p>
                </div>
            }

            @foreach (var category in _Categories.Where(x => x.ParentCategoryId == _SelectedCategory.Id))
            {
                <div style="background-color:@category?.Color" @onclick="() => SetSelectedCategroy(category)">
                    <p class="align-text-center">@category.Title</p>
                </div>
            }
        }
    </section>
    <section class="dashboard-products pd-b-1">
        @foreach (var product in _Products.Where(x => x.CategoryId == _SelectedCategory?.Id || x.CategoryId == _SelectedCategory?.ParentCategoryId).ToList())
        {
            <div @onclick="() => AddItemToTicket(product)">
                <ProductCard Product="product" />
            </div>
        }
    </section>
    <TicketSidebar NewSaleLine="_SaleLine" />
</div>