@using Store.Web.Components.Wizard
@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<Wizard Id="DemoWizard">
    <WizardStep Name="Supplier">
        <div class="row">
           <p>This is the first step. You can enter something useful in here.</p>
        </div>
    </WizardStep>
    <WizardStep Name="Second Step">
        <div class="row">
            <p>Wow, you've reached the second step!</p>
        </div>
    </WizardStep>
    <WizardStep Name="Final Step">
        <div class="row">
      <p>The final step has been reached. Thank you \o/</p>
        </div>
    </WizardStep>
</Wizard>
