@page "/ProductOverview"
@using Store.Shared.Dto;
@using Store.Web.Components.Datagrid

<PageTitle>Users</PageTitle>
<div class="row">
    <div class="data-grid-container sze-12 pd-1">
        @if (Items != null)
        {
            <Datagrid T="ProductDto" Data="Items" DropdownColumns="DropdownColumns"
                      OnDelete="DeleteItem" OnEdit="EditItem" CanDeleteItem="true" CanEditItem="true" />
        }
    </div>
</div>
