@page "/ProductOverview"
@using Store.Web.Components.Datagrid
@using Store.Web.Components.Product
@using Store.Web.Helpers.Modals
@using Store.Shared.Dto
@attribute [Authorize]

<PageTitle>Users</PageTitle>
 @if (GridData != null)
{
    <div class="data-grid-container sze-12 pd-1">
        <div class="row">
            <button class="mrg-0 pd-1" @onclick="AddItem"> Add</button>

            <Datagrid T="ProductDto" Data="GridData" DropdownColumns="DropdownColumns" PaginationData="PaginationData"
                      OnDelete="DeleteItem" OnEdit="EditItem" OnRefresh="RefreshData" />
        </div>
    </div>
}
else
{
    <div class="loader"></div>
}
<ProductDialog Product="EditProduct" OnResult="ProductDialogResult"></ProductDialog>
