@page "/Suppliers"
@using Store.Shared.Dto;
@using Store.Web.Components.Suppliers

<div class="row">
    @foreach (SupplierDto supplier in _suppliers)
    {
        <SupplierCard Supplier="supplier"/>
    }
</div>