@using Store.Web.Models;
@if (Notifications != null && Notifications.Count > 0)
{
    foreach (Noticiation noticiation in Notifications)
    {
        <div class="notification-bar mrg-0 pd-0 @noticiation.Sort">
            <span>@noticiation.Name</span>
        </div>
    }
}