<div class="dashboard-sidebar">
    <div class="selected-items">

    </div>
    <div class="total">
        @* <p>Total: @GetTotalPrice().ToString("C")</p> *@
    </div>
    <div class="payment-methods">
        <h4>Select Payment Method:</h4>
        <button class="payment-button">Method 1</button>
        <button class="payment-button">Method 2</button>
        <button class="payment-button">Method 3</button>
    </div>
</div>