@using Store.Web.Components.Authentication
<header>
    <div class="search-box form pd-1">
        <button type="submit"><i class="fas fa-search"></i></button>
        <input type="text" class="input-search" placeholder="Type to Search...">
    </div>
    <AuthenticationStatus />
</header>