@inherits LayoutComponentBase
@inject NavigationManager navManager

<div class="page">
    <Header />
    <NavMenu />

    <main>
        @Body
    </main>
@* 
    <footer>
        <h1>footer is een test</h1>
    </footer> *@
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapsed" : null;

    private enum NavSubmenu
    {
        None,
        Data
    }

    private NavSubmenu navSubmenu = NavSubmenu.None;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleSubmenu(NavSubmenu submenu)
    {
        if (navSubmenu == submenu)
            navSubmenu = NavSubmenu.None;
        else
            navSubmenu = submenu;
    }

    // private async Task LogOut()
    // {
    //     var customAuthStateProvider = (CustomAuthenthicationStateProvider)authStateProvider;
    //     await customAuthStateProvider.UpdateAuthenticationStateAsync(null);
    //     navManager.NavigateTo("/", true);
    // }
}