@using System.IO


<nav>
    <div class="nav-toggler" @onclick="ToggleNavMenu"><i class="fa-solid fa-certificate"></i></div>
    <div class="@(collapseNavMenu ? "side-nav-closed" : "side-nav-open")">
        <div class="nav-header">
            @* <AuthorizeView Roles="Admin, User">
            <Authorized> *@
            <div class="profile-avatar">
                <img src="https://randomuser.me/api/portraits/men/1.jpg" alt="Avatar">
            </div>
            <div class="profile-info mrg-vrtcl-0">
                @* <h4 class="text-primary">@context?.User?.Identity?.Name</h4> *@
                <p class="text-secondary">UX Designer</p>
            </div>
            @* </Authorized>
            </AuthorizeView> *@
        </div>
        @*  <AuthorizeView Roles="Admin, User">
        <NotAuthorized>
        <div class="mrg-0">
        <NavLink class="nav-link  text-primary mrg-0" href="/login">
        <i class="fa-solid fa-user"><span class="mrg-0">Log In</span></i>
        </NavLink>
        </div>
        </NotAuthorized>
        <Authorized> *@
        <NavLink class="nav-link text-primary mrg-0" href="" Match="NavLinkMatch.All">
            <i class="fa-solid fa-home"><span class="mrg-0">Home</span></i>
        </NavLink>
        <NavLink class="nav-link text-primary mrg-0" href="/Orders">
            <i class="fa-solid fa-truck"><span class="mrg-0">Orders</span></i>
        </NavLink>
        <NavLink class="nav-link text-primary mrg-0" href="/ProductOverview">
            <i class="fa-solid fa-database"><span class="mrg-0">ProductOverview</span></i>
        </NavLink>
        <NavLink class="nav-link text-primary mrg-0" href="/Dashboard">
            <i class="fa-solid fa-cart-shopping"><span class="mrg-0">Dashboard</span></i>
        </NavLink>
        @*  </Authorized>
        </AuthorizeView> *@
        <div class="secondary-items">
            @*  <AuthorizeView Roles="Admin, User">
            <Authorized> *@
            <NavLink class="nav-link text-secondary" href="/Suppliers">
                <i class="fa-solid fa-users"><span class="mrg-0">Suppliers</span></i>
            </NavLink>
            <NavLink class="nav-link text-secondary" href="/Categories">
                <i class="fa-solid fa-cart-shopping"><span class="mrg-0">Categories</span></i>
            </NavLink>
            <NavLink class="nav-link text-secondary" href="/logout">
                <i class="fa-regular fa-user"><span class="mrg-0">Log Out</span></i>
            </NavLink>
            @* </Authorized>
                </AuthorizeView> *@
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "side-nav-closed" : "side-nav-open";

    private enum NavSubmenu
    {
        None,
        Data
    }

    private NavSubmenu navSubmenu = NavSubmenu.None;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleSubmenu(NavSubmenu submenu)
    {
        if (navSubmenu == submenu)
            navSubmenu = NavSubmenu.None;
        else
            navSubmenu = submenu;
    }
}
