header {
    height: 10vh;
    /*background-color: var(--secondary-color);*/
    display: flex;
    flex-direction: row;
    align-items: center;

    .search-box {
        align-self: flex-start;
        justify-self: center;
        height: 100%;

        button {
            height: 2rem;
            width: 2rem;
            border-radius: 1rem;
            align-self: center;
        }
    }

    .nav-link {
        margin-left: auto;
    }

    .h4 {
        margin-left: auto;
    }
}
