.product-card {
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: var(--third-color);
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;

    .thumbnail {
        img {
            display: block;
            border: 0;
            height: auto;
            width: 100%;
        }
    }

    .details {
        padding: 0.5rem;
        text-transform: uppercase;
        height: fit-content;

        h1 {
            font-size: 1rem;
            font-weight: 600;
            margin: 0;
            word-break: normal;
        }

        h2 {
            font-size: 0.75rem;
            font-weight: 400;
            margin: 0;
        }
    }
}
