.product-card {
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.15);
    max-height: fit-content;
    max-width: fit-content;
    cursor: pointer;
    background-color: var(--third-color);

    .thumbnail {

        img {
            display: block;
            border: 0;
            height: auto;
            width: 100%;
        }
    }

    .details {
        padding: 0.5rem 0.75rem;
        text-transform: uppercase;

        h1 {
            font-size: 1.25rem;
            font-weight: 600;
            margin: 0;
            word-break: break-word;
        }

        h2 {
            font-size: 1rem;
            font-weight: 400;
            margin: 0;
        }
    }
}
