.side-nav-open {
    transition: .16s ease-in-out;
    display: grid;
    grid-template-rows: var(--header-height) auto;
    grid-auto-flow: row;

    img {
        width: 5rem;
        height: 5rem;
        border-radius: 2.5rem;
    }

    .nav-link {
        justify-content: flex-start;
    }
}

.side-nav-closed {
    width: 5rem !important;
    overflow: hidden;
    display: grid;
    grid-template-rows: var(--header-height) auto;
    grid-auto-flow: row;

    .nav-link {
        justify-content: center;
    }

    .profile-info {
        display: none
    }

    .secondary-items {
        display: none;
    }

    span {
        transition: all .2s ease-in-out;
        display: none;
    }

    img {
        width: 2rem;
        height: 2rem;
        border-radius: 1rem;
    }
}

.nav-toggler {
    position: absolute;
    transition: all .16s ease-in-out;
    cursor: pointer;
}
