.circle {
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #fff;
    border: 0.1rem solid #000;
    color: #000;
    margin-right: 1rem;
}

.wizard-progress {
    display: grid;
    grid-auto-flow: column;
    font-size: 1.25rem;

    .step {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;

        &.complete {
            background-color: var(--secondary-color);
        }

        &.in-progress {
            background-color: var(--primary-color);
        }

        &:not(:last-child) {
            &.in-progress {
                border-radius: 0rem 1rem 1rem 0rem;
            }
        }

        &:not(.complete, .in-progress) {
            opacity: 0.5;
        }
    }
}
