:root {
    $font-stack: Helvetica, sans-serif;
    --primary-light: #F8F7F2;
    --secondary-light: #D0C2B0;
    --primary-dark: #020403;
    --secondary-dark: #555;
    --primary-text: #fff;
    --secondary-text: #808080;
    --body-background: #222;
    --grid: #333333;
    --danger: #e62222;
    --success: green;
    --notification-danger: #ff0a01;
    --notification-warning: #2B3246;
    --notification-success: #2B3246;
    --notification-info: #2B3246;
    --primary-button: #333333;
}
