:root {
    $font-stack: Helvetica, sans-serif;

    // App colors
    --primary-color: #D8BFAA;
    --secondary-color: #774936;
    --third-color: #4F6D7A;
    --fourth-color: #3A88AF;
    // Texr
    --primary-text-color: #fff;
    --secondary-text-color: #808080;
    // Action
    --danger-color: #e62222;
    --warning-color: #FFCE00;
    --success-color: #29dc00;
    --info-primary-color: #51BBFE   ;
    --info-secondary-color: #51BBFE;
}
