:root {
    $font-stack: Helvetica, sans-serif;

    // App colors
    --primary-color: #D8BFAA;
    --secondary-color: #774936;
    --third-color: #5D737E;
    --fourth-color: #3A88AF;
    // Texr
    --primary-text-color: #fff;
    --secondary-text-color: #000;
    // Action
    --danger-color: #e62222;
    --warning-color: #FFCE00;
    --success-color: #29dc00;
    --info-primary-color: #1D3461;
    --info-secondary-color: #51BBFE;
    --disabled-color: #333;
// Layout
    --header-height: 5rem;
    --gutter: 1rem;
    --total: 0.5rem;
}
